@font-face {
	font-family: 'ds-icons';
	src:
		url('ds-icons.woff2') format('woff2'),
		url('ds-icons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^='ds-icon-'],
[class*=' ds-icon-'] {
	font-family: 'ds-icons' !important;
	speak: none;
	display: var(--ds-icon-display, inline-block);
	font-feature-settings: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-synthesis: none;
	font-variant: normal;
	line-height: 1;
	text-align: center;
	text-rendering: auto;
	vertical-align: var(--ds-icon-vertical-align, text-top);
}
.ds-icon-calendar::before {
	content: '\ea01';
}
.ds-icon-house::before {
	content: '\ea02';
}
.ds-icon-user::before {
	content: '\ea03';
}
