@theme {
	--breakpoint-*: initial;
}

@theme static {
	--breakpoint-md: 48rem;
}

@theme {
	--color-*: initial;
}

@theme static {
	--color-primary-50: oklch(97% 0.014 254.604deg);
	--color-primary-100: oklch(93.2% 0.032 255.585deg);
	--color-primary-200: oklch(88.2% 0.059 254.128deg);
	--color-primary-300: oklch(80.9% 0.105 251.813deg);
	--color-primary-400: oklch(70.7% 0.165 254.624deg);
	--color-primary-500: oklch(62.3% 0.214 259.815deg);
	--color-primary-600: oklch(54.6% 0.245 262.881deg);
	--color-primary-700: oklch(48.8% 0.243 264.376deg);
	--color-primary-800: oklch(42.4% 0.199 265.638deg);
	--color-primary-900: oklch(37.9% 0.146 265.522deg);
	--color-primary-950: oklch(28.2% 0.091 267.935deg);
	--color-neutral-50: oklch(98.5% 0 0deg);
	--color-neutral-100: oklch(96.7% 0.001 286.375deg);
	--color-neutral-200: oklch(92% 0.004 286.32deg);
	--color-neutral-300: oklch(87.1% 0.006 286.286deg);
	--color-neutral-400: oklch(70.5% 0.015 286.067deg);
	--color-neutral-500: oklch(55.2% 0.016 285.938deg);
	--color-neutral-600: oklch(44.2% 0.017 285.786deg);
	--color-neutral-700: oklch(37% 0.013 285.805deg);
	--color-neutral-800: oklch(27.4% 0.006 286.033deg);
	--color-neutral-900: oklch(21% 0.006 285.885deg);
	--color-neutral-950: oklch(14.1% 0.005 285.823deg);
	--color-info: oklch(39.87% 0.145 266.81deg);
	--color-info-light: oklch(88.23% 0.0571 254.13deg);
	--color-success: oklch(42.62% 0.0827 170.31deg);
	--color-success-light: oklch(90.49% 0.0895 164.15deg);
	--color-warning: oklch(53.51% 0.1192 58.43deg);
	--color-warning-light: oklch(96.19% 0.058 95.62deg);
	--color-error: oklch(37.73% 0.1448 14.17deg);
	--color-error-light: oklch(80.97% 0.1061 11.64deg);
	--color-black: var(--color-neutral-950);
	--color-white: #fff;
}

:root,
:host {
	--text-d1-size: 3rem;
	--text-d1-letter-spacing: -0.03rem;
	--text-d2-size: 2.5rem;
	--text-d2-letter-spacing: -0.025rem;
	--text-d3-size: 2.25rem;
	--text-d3-letter-spacing: -0.0225rem;
	--text-h1-size: 2rem;
	--text-h2-size: 1.5rem;
	--text-h3-size: 1.25rem;
	--text-h4-size: 1.125rem;
	--text-h5-size: 1rem;
	--text-h6-size: 0.875rem;
	--text-b1-size: 1.25rem;
	--text-b2-size: 1rem;
	--text-b3-size: 0.875rem;
	--text-c-size: 0.75rem;
	--text-l1-size: 1.25rem;
	--text-l2-size: 1rem;
	--text-l3-size: 0.875rem;
	--text-l4-size: 0.75rem;
	--text-t1-size: 1rem;
	--text-t2-size: 0.875rem;
}

@media (width > 48rem) {
	:root,
	:host {
		--text-d1-size: 4.5rem;
		--text-d1-letter-spacing: -0.045rem;
		--text-d2-size: 3.5rem;
		--text-d2-letter-spacing: -0.035rem;
		--text-d3-size: 3rem;
		--text-d3-letter-spacing: -0.03rem;
		--text-h1-size: 2.5rem;
		--text-h2-size: 2rem;
		--text-h3-size: 1.5rem;
		--text-h4-size: 1.25rem;
	}
}

@theme static {
	--font-*: initial;
	--text-*: initial;
	--leading-*: initial;
	--font:
		'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--text-d1: var(--text-d1-size);
	--text-d1--line-height: 120%;
	--text-d1--letter-spacing: var(--text-d1-letter-spacing);
	--text-d2: var(--text-d2-size);
	--text-d2--line-height: 120%;
	--text-d2--letter-spacing: var(--text-d2-letter-spacing);
	--text-d3: var(--text-d3-size);
	--text-d3--line-height: 120%;
	--text-d3--letter-spacing: var(--text-d3-letter-spacing);
	--text-h1: var(--text-h1-size);
	--text-h1--line-height: 125%;
	--text-h2: var(--text-h2-size);
	--text-h2--line-height: 135%;
	--text-h3: var(--text-h3-size);
	--text-h3--line-height: 135%;
	--text-h4: var(--text-h4-size);
	--text-h4--line-height: 140%;
	--text-h5: var(--text-h5-size);
	--text-h5--line-height: 150%;
	--text-h6: var(--text-h6-size);
	--text-h6--line-height: 150%;
	--text-b1: var(--text-b1-size);
	--text-b1--line-height: 140%;
	--text-b2: var(--text-b2-size);
	--text-b2--line-height: 150%;
	--text-b3: var(--text-b3-size);
	--text-b3--line-height: 150%;
	--text-c: var(--text-c-size);
	--text-c--line-height: 150%;
	--text-l1: var(--text-l1-size);
	--text-l1--line-height: 140%;
	--text-l2: var(--text-l2-size);
	--text-l2--line-height: 150%;
	--text-l3: var(--text-l3-size);
	--text-l3--line-height: 150%;
	--text-l4: var(--text-l4-size);
	--text-l4--line-height: 150%;
	--text-t1: var(--text-t1-size);
	--text-t1--line-height: 150%;
	--text-t2: var(--text-t2-size);
	--text-t2--line-height: 150%;
}
